<div class="panel panel-default">
	<h1>Music request </h1><br>
	
	<table class="table table-striped">
		<% @music_data_paginate.each_with_index do |music, i| %>
		<%= form_tag do %>
		<tr>
			<td><%= music[0] %></td>
			<td><%= music[1] %></td>
			<td><%= music[2] %></td>
			<td>
				<% if music[3].blank? && i > 0 %>
					<%= hidden_field_tag("timespan", music[0]) %>
					<button class="btn btn-info">Approve</button>
					<button class="btn btn-warning" onclick="location='<%= edit_music_request_path music[0] %>';return false;">Edit</button>
				<% end %>
			</td>
		</tr>
		<% end %>
		<% end %>
	</table>
	<%= will_paginate @music_data_paginate %>
</form>
</div>